@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700&display=swap");
@import "../css/components.css";
@import "../css/components/anim.css";
@import "../css/icons-fonts.css";
@import "../scss/components/burger.css";
@import "../scss/work.css";
@import "../scss/about.css";
@import "../scss/main.css";
:root {
  --font-family: "Fira Code", sans-serif;
  --primary: #c778dd;
  --gray: #abb2bf;
  --background: #282c33;
  --white: #fff;
}

[class*=__container] {
  max-inline-size: 65.875rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.contact {
  position: relative;
  display: flex;
  gap: 20px;
}
@media (max-width: 61.9988rem) {
  .contact__panel {
    display: none;
  }
}
.contact__container {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  width: 100%;
}
.contact__header {
  text-align: left;
  padding-top: calc(80px + 34 * ((100vw - 320px) / 1600));
}
@media (max-width: 72.5613rem) {
  .contact__header {
    padding-left: 2.5rem;
  }
}
@media (max-width: 61.9988rem) {
  .contact__header {
    padding-left: 0rem;
  }
}
.contact__cube {
  margin-top: 1.1875rem;
  margin-right: -4.375rem;
}
@media (max-width: 61.9988rem) {
  .contact__cube {
    display: none;
  }
}

.contact-section {
  padding-bottom: 1.5625rem;
  display: flex;
  gap: 1.25rem;
}
.contact-section__body {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 61.9988rem) {
  .contact-section__body {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 61.9988rem) {
  .contact-section__body {
    padding-left: calc(15px + 65 * ((100vw - 320px) / 1600));
  }
}
.contact-section__text {
  flex-grow: 1;
  line-height: 1.3;
}
@media (min-width: 61.9988rem) {
  .contact-section__text {
    max-width: 32.1875rem;
  }
}
.contact-section__contents {
  display: flex;
  gap: 0.6875rem;
}
@media (max-width: 61.9988rem) {
  .contact-section__contents {
    justify-content: center;
    flex-wrap: wrap;
  }
}