@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700&display=swap");
@import "../css/components.css";
@import "../css/components/anim.css";
@import "../css/icons-fonts.css";
@import "../scss/components/burger.css";
@import "../scss/work.css";
@import "../scss/about.css";
@import "../scss/contact.css";
:root {
  --font-family: "Fira Code", sans-serif;
  --primary: #c778dd;
  --gray: #abb2bf;
  --background: #282c33;
  --white: #fff;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

[class*=__content-container] {
  padding-inline: 0.9375rem;
}

body {
  font-family: var(--font-family);
  color: var(--gray);
  background-color: var(--background);
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  padding-top: 0.5rem;
}
.social::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}
.social__items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.social__item {
  font-size: 2rem;
  transition: color 0.5s;
}
.social__item:hover {
  color: var(--white);
}

@media (max-width: 47.9988rem) {
  .cube {
    display: none;
  }
}

.social-line {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 2.0625rem;
  width: 0.0625rem;
  height: 50%;
  background-color: var(--gray);
  pointer-events: none;
  z-index: 1;
}
@media (max-width: 47.9988rem) {
  .social-line {
    display: none;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--background);
  transition: all 0.5s;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  min-height: 5rem;
  padding-block: calc(20px + 12 * ((100vw - 320px) / 1600));
}
.header__logo {
  font-weight: 700;
  color: var(--white);
  z-index: 5;
  flex-grow: 1;
  position: relative;
  padding-left: 1.5625rem;
  display: flex;
  align-items: center;
  transition: color 0.5s;
}
.header__logo::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/logo-white.svg") left no-repeat;
}
.header__logo:hover {
  color: var(--primary);
}
.header__menu-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 47.9988rem) {
  .header__menu-social {
    display: none;
  }
}
.header__menu-items {
  display: flex;
  gap: 1.25rem;
}
.menu__body {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.menu__list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: calc(20px + 12 * ((100vw - 320px) / 1600));
}
@media (max-width: 47.9988rem) {
  .menu__list {
    flex-direction: column;
    align-items: end;
  }
}
.menu__item select {
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--gray);
  background-color: var(--background);
  text-transform: uppercase;
  cursor: pointer;
}
.menu__item select option {
  background-color: var(--background);
}
.menu__link {
  text-transform: lowercase;
  font-size: 1rem;
  transition: color 0.5s;
  position: relative;
  transition: color 0.5s;
}
.menu__link span {
  background-color: var(--background);
}
.menu__link span:nth-child(1) {
  color: var(--primary);
}
.menu__link:hover {
  color: var(--white);
}
@media (max-width: 47.9988rem) {
  .menu__link {
    font-size: 32px;
  }
}
.menu__link::after {
  position: absolute;
  content: "";
  width: 0;
  bottom: 0;
  left: 50%;
  height: 0.0313rem;
  background-color: var(--primary);
  transition: all 0.5s;
}
.menu__link:hover {
  color: var(--white);
}
.menu__link:hover::after {
  left: 0;
  width: 100%;
}
.menu__link--active {
  color: var(--white);
}
.menu__link--active::after {
  left: 0;
  width: 100%;
}
.menu__link-active {
  color: var(--white);
}
.main-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: calc(40px + 82 * ((100vw - 320px) / 1600));
}
.main-section__social {
  padding-left: 1.0625rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 47.9988rem) {
  .main-section__social {
    display: none;
  }
}
.main-section__content-container {
  padding-top: calc(80px + 43 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 72 * ((100vw - 320px) / 1600));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100%;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
@media (max-width: 47.9988rem) {
  .main-section__content-container {
    grid-template-columns: auto;
    row-gap: 1.875rem;
  }
}
.main-section__title {
  font-weight: 600;
  font-size: calc(20px + 12 * ((100vw - 320px) / 1600));
  line-height: 1.5;
  color: var(--white);
}
.main-section__title span {
  color: var(--primary);
}
.main-section__title:not(:last-child) {
  margin-bottom: calc(20px + 12 * ((100vw - 320px) / 1600));
}
.main-section__text {
  line-height: 1.5625;
}
@media (min-width: 47.9988rem) {
  .main-section__text {
    max-width: 31.25rem;
  }
}
.main-section__text:not(:last-child) {
  margin-bottom: calc(20px + 4 * ((100vw - 320px) / 1600));
}
.decor-main-section__box {
  position: relative;
}
.decor-main-section__box::before, .decor-main-section__box::after {
  content: "";
  position: absolute;
}
.decor-main-section__box::before {
  width: 33.91%;
  height: 33.91%;
  top: 21.76%;
  left: 0;
  background: url("../images/main/logo-primary.svg") center/100% 100% no-repeat;
  -webkit-animation: rotate 70s infinite linear;
          animation: rotate 70s infinite linear;
}
.decor-main-section__box::after {
  width: 18.38%;
  height: 18.38%;
  right: 8%;
  bottom: 21.5%;
  z-index: 2;
  background: url("../images/main/dots.svg") center/100% 100% no-repeat;
  -webkit-animation: anti-rotate 70s infinite linear;
          animation: anti-rotate 70s infinite linear;
}
.decor-main-section__image {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.decor-main-section__picture {
  max-width: 100%;
}
.decor-main-section__subtitle {
  border: 1px solid var(--gray);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0.625rem;
}
.decor-main-section__subtitle::before {
  color: var(--primary);
}
.decor-main-section__subtitle span {
  color: var(--white);
  font-weight: 600;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes anti-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes anti-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.who {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: calc(40px + 46 * ((100vw - 320px) / 1600));
  gap: calc(40px + 206 * ((100vw - 320px) / 1600));
}
@media (max-width: 47.9988rem) {
  .who {
    justify-content: center;
    padding-inline: 0.9375rem;
  }
}
.who__content {
  text-align: end;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  color: var(--white);
  position: relative;
}
.who__content::before, .who__content::after {
  content: "\e90d";
  font-family: "icomoon";
  position: absolute;
  font-size: calc(14px + 7 * ((100vw - 320px) / 1600));
  color: var(--gray);
  padding-inline: calc(2px + 6 * ((100vw - 320px) / 1600));
  padding-block: calc(2px + 2 * ((100vw - 320px) / 1600));
  background-color: var(--background);
  z-index: 2;
}
.who__content::before {
  top: -11%;
  left: 3.5%;
}
.who__content::after {
  bottom: 31%;
  right: 4.5%;
}
.who__text {
  font-weight: 500;
  line-height: 1.2;
  border: 1px solid var(--gray);
  padding: calc(10px + 22 * ((100vw - 320px) / 1600));
}
.who__author {
  display: inline-block;
  border: 1px solid var(--gray);
  padding: calc(10px + 6 * ((100vw - 320px) / 1600));
}
.projects {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  padding-bottom: calc(40px + 54 * ((100vw - 320px) / 1600));
}
@media (min-width: 61.9988rem) {
  .projects__container {
    padding-left: calc(15px + 90 * ((100vw - 320px) / 1600));
  }
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  padding-bottom: calc(20px + 28 * ((100vw - 320px) / 1600));
}
.projects__title::after {
  width: calc(20px + 491 * ((100vw - 320px) / 1600));
}
.projects__link {
  font-weight: 500;
  color: var(--white);
  position: relative;
  transition: color 0.5s;
}
.projects__link::after {
  position: absolute;
  content: "";
  width: 0;
  bottom: 0;
  right: 100%;
  height: 0.0313rem;
  background-color: var(--primary);
  transition: all 0.5s;
}
.projects__link:hover {
  color: var(--white);
}
.projects__link:hover::after {
  right: 0;
  width: 100%;
}
.projects__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(310px, 100%), 1fr));
  gap: calc(10px + 6 * ((100vw - 320px) / 1600));
  align-items: stretch;
}
.projects__items:not(:last-child) {
  margin-bottom: calc(30px + 60 * ((100vw - 320px) / 1600));
}
.projects__item {
  border: 0.0625rem solid var(--gray);
}
.projects__cube {
  margin-right: -4.6875rem;
}

.item-projects {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-projects__image {
  display: block;
  aspect-ratio: 330/201;
  overflow: hidden;
}
.item-projects__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 0.5s;
}
.item-projects__image img:hover {
  scale: 1.05;
}
.item-projects__category {
  padding: 0.5rem;
  border-block: 0.0625rem solid var(--gray);
}
.item-projects__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  margin-top: auto;
}
.item-projects__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(15px + 1 * ((100vw - 320px) / 1600));
}

.body-item-projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
}
.body-item-projects__title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--white);
  transition: color 0.5s;
}
.body-item-projects__title:not(:last-child) {
  margin-bottom: 1rem;
}
.body-item-projects__title:hover {
  color: var(--primary);
}
.body-item-projects__text {
  line-height: 1.2;
  flex: 1;
}
.body-item-projects__text:not(:last-child) {
  margin-bottom: 1rem;
}
.body-item-projects__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.skills {
  padding-bottom: calc(40px + 72 * ((100vw - 320px) / 1600));
}
.skills__header {
  margin-bottom: 0.75rem;
}
.skills__title::after {
  width: calc(20px + 219 * ((100vw - 320px) / 1600));
}
.skills__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(20px + 39 * ((100vw - 320px) / 1600));
}
.figure-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(20px + 22 * ((100vw - 320px) / 1600));
}
@media (max-width: 767.98px) {
  .figure-skills {
    display: none;
  }
}
.item__figure-1 {
  padding-left: 2rem;
  padding-top: 2.1875rem;
  padding-right: 4.0625rem;
}
.item__figure-2 {
  padding-left: 3.125rem;
  padding-bottom: 1.1875rem;
  padding-right: 2.25rem;
}
.item__figure-3 {
  padding-left: 2.9375rem;
  padding-top: 1.625rem;
}
.item__figure-5 {
  padding-left: 3.5625rem;
  padding-bottom: 2.3125rem;
  padding-top: 3.125rem;
}

.content-skills__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  gap: calc(10px + 6 * ((100vw - 320px) / 1600));
}
@media (min-width: 50.0613rem) {
  .content-skills__items .item-skill__item:nth-child(1) {
    align-self: start;
    grid-row: 1/3;
    grid-column: 1/2;
  }
}
@media (min-width: 50.0613rem) {
  .content-skills__items .item-skill__item:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
@media (min-width: 50.0613rem) {
  .content-skills__items .item-skill__item:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
@media (min-width: 50.0613rem) {
  .content-skills__items .item-skill__item:nth-child(4) {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
@media (min-width: 50.0613rem) {
  .content-skills__items .item-skill__item:nth-child(5) {
    grid-row: 2/3;
    grid-column: 3/4;
  }
}
@media (max-width: 61.9988rem) {
  .content-skills__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .content-skills__items .item-skill__item {
    grid-row: auto;
    grid-column: auto;
    align-self: auto;
  }
}
@media (max-width: 768.98px) {
  .content-skills__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item-skill__item {
  border: 0.0625rem solid var(--gray);
  padding-block: 0.5rem;
}
.item-skill__item-title {
  border-bottom: 0.0625rem solid var(--gray);
  padding-inline: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  color: var(--white);
}
.item-skill__item-text {
  padding-inline: 0.5rem;
  padding-top: 0.5rem;
}
.item-skill__item-text p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(20px + 70 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 72 * ((100vw - 320px) / 1600));
}
.about__cube {
  margin-left: -4.6875rem;
}
@media (max-width: 61.9988rem) {
  .about__cube {
    display: none;
  }
}
.about__header:not(:last-child) {
  margin-bottom: calc(20px + 4 * ((100vw - 320px) / 1600));
}
.about__title::after {
  width: calc(20px + 306 * ((100vw - 320px) / 1600));
}
.about__body {
  display: flex;
  align-items: center;
  gap: calc(20px + 146 * ((100vw - 320px) / 1600));
}
@media (max-width: 991.9808px) {
  .about__body {
    justify-content: center;
    flex-direction: column;
  }
}
.about__text {
  line-height: 1.625;
}
.about__text p:not(:last-child) {
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}
.about__text:not(:last-child) {
  margin-bottom: calc(20px + 7 * ((100vw - 320px) / 1600));
}
.about__button {
  display: inline-block;
}
.about__dots {
  margin-right: -1.5625rem;
}
@media (max-width: 61.9988rem) {
  .about__dots {
    display: none;
  }
}

.decor-about__box {
  position: relative;
}
.decor-about__box::before, .decor-about__box::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.decor-about__box::before {
  width: 24.78%;
  height: 24.78%;
  top: 11.63%;
  left: 0;
  background-image: url("../images/main/dots.svg");
  -webkit-animation: rotate 70s infinite linear;
          animation: rotate 70s infinite linear;
}
.decor-about__box::after {
  width: 30.68%;
  height: 11.05%;
  right: 0;
  bottom: 33.92%;
  background-image: url("../images/about/dots-2.svg");
  -webkit-animation: anti-rotate 70s infinite linear;
          animation: anti-rotate 70s infinite linear;
}
.decor-about__image {
  display: grid;
  align-items: center;
  justify-content: center;
  border-bottom: 0.0625rem solid var(--primary);
}
.decor-about__picture {
  max-width: 100%;
  display: block;
}

.contacts {
  display: flex;
  align-items: center;
  gap: calc(20px + 101 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 105 * ((100vw - 320px) / 1600));
}
.contacts__dots {
  margin-left: -3.25rem;
}
@media (max-width: 61.9988rem) {
  .contacts__dots {
    display: none;
  }
}
.contacts__content-container {
  flex-grow: 1;
}
.contacts__header:not(:last-child) {
  padding-bottom: calc(20px + 25 * ((100vw - 320px) / 1600));
}
.contacts__body {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 37.5613rem) {
  .contacts__body {
    flex-direction: column;
  }
}
.contacts__text {
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 37.5613rem) {
  .contacts__text {
    max-width: 32.1875rem;
  }
}
.contacts__content {
  border: 0.0625rem solid var(--gray);
  padding: 1rem;
}
.contacts__title {
  font-weight: 600;
  color: var(--white);
  margin-bottom: 1rem;
}
.contacts__items {
  display: grid;
  gap: 0.8125rem;
}
.contacts__item {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  transition: color 0.5s;
  z-index: 5;
}
.contacts__item:hover {
  color: var(--white);
}

.action {
  position: relative;
  translate: 0 0;
}
.action::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0.0625rem solid var(--gray);
  -webkit-animation: play 2s infinite ease;
          animation: play 2s infinite ease;
}

@-webkit-keyframes play {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes play {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
.footer {
  border-top: 0.0625rem solid var(--gray);
  padding-block: 2rem;
}
.footer__body {
  margin-bottom: calc(20px + 28 * ((100vw - 320px) / 1600));
}
.footer__copy {
  text-align: center;
}

.body-footer {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 47.9988rem) {
  .body-footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.body-footer__title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 47.9988rem) {
  .body-footer__title {
    flex-direction: column;
  }
}
.body-footer__mail {
  transition: color 0.5s;
}
.body-footer__mail:hover {
  color: var(--white);
}
.body-footer__text {
  color: var(--white);
  line-height: 1.3;
}
.media-footer__title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--white);
  margin-bottom: 1.25rem;
}
.social-footer__items {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 47.9988rem) {
  .social-footer__items {
    justify-content: center;
  }
}