// Подключение шрифтов только в самом верху
@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700&display=swap");
// @import url("../css/fonts.css");
@import url("../css/icons-fonts.css");
// @import '../css/components/components.css';
@import "../css/components/anim.css";
@import "../css/main.css";
// @import "../scss/components/ibj.scss";
// $maxWidth: 1024;
// @include adaptive-font(40, 24);(Использовать для адаптивного шрифта: 1 - мах знач, 2 - мин знач.)
@import "../scss/adaptive-value.scss";
// @include adaptive-value("padding", 40, 24, 0);(Использовать для адаптивного шрифта: 1 - мах знач, 2 - мин знач., 3 - режим)
$maxWidth: 1920;
$maxWidthContainer: 1054;

:root {
	--font-family: "Fira Code", sans-serif;
	--primary: #c778dd;
	--gray: #abb2bf;
	--background: #282c33;
	--white: #fff;
}
// color: var(--text-default);
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip; // работает с position: sticky;
	// min-width: 320px;
	// max-width: 1920px;
	//block-size: 100%;
}
// ==== Чтоб прибить футер к низу разрешаем main расширяться

.wrapper > main {
	flex-grow: 1;
}

// ===============Ограничивающий контейнер через селктор класса============
[class*="__container"] {
	max-inline-size: 65.875rem;
	margin-inline: auto;
	padding-inline: 0.9375rem;

	// max-width: 1230px;
	// margin: 0 auto;
	// padding: 0 15px;
	// box-sizing: border-box;

	// ======== Стандартная адаптивная сетка ================================
	// @media (max-width: 1199.98px) {
	//   max-width: 970px;
	// }
	// @media (max-width: 991.98px) {
	//   max-width: 750px;
	// }
	// @media (max-width: 767.98px) {
	//   max-width: none;
	// }
}
body {
	font-family: var(--font-family);
	color: var(--gray);
	background-color: var(--background);
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;

	padding-inline: 1rem;
	padding-block: 0.5rem;

	font-weight: 500;
	border: 0.0625rem solid var(--gray);
	height: 2.3125rem;
	transition: background-color 0.5s;
	&:hover {
		background-color: rgba(171, 178, 191, 0.2);
	}
	&__live {
		border: 1px solid var(--primary);
		color: var(--white);
		transition: background-color 0.5s;
		&:hover {
			background-color: rgba(199, 120, 221, 0.2);
		}
	}
	&__inside {
		padding-left: 10px;
	}
}
.title {
	font-weight: 500;
	@include adaptive-value("font-size", 32, 22, 0);
	color: var(--white);
	display: flex;
	align-items: center;
	span {
		color: var(--primary);
	}
	&::after{
		content: "";
		@include adaptive-value("margin-left", 16, 10, 0);
		height: .0625rem;
		background-color: var(--primary);
		width: 7.9375rem;
	}
}
