// Подключение шрифтов только в самом верху
@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700&display=swap");
// @import url("../css/fonts.css");
@import "../css/components.css";
@import "../css/components/anim.css";
@import "../css/icons-fonts.css";
@import "../scss/components/burger.css";
// @import "../scss/components/ibj.scss";
// $maxWidth: 1024;
// @include adaptive-font(40, 24);(Использовать для адаптивного шрифта: 1 - мах знач, 2 - мин знач.)
@import "../scss/adaptive-value.scss";
// @include adaptive-value("padding", 40, 24, 0);(Использовать для адаптивного шрифта: 1 - мах знач, 2 - мин знач., 3 - режим)
$maxWidth: 1920;
$maxWidthContainer: 1054;

:root {
	--font-family: "Fira Code", sans-serif;
	--primary: #c778dd;
	--gray: #abb2bf;
	--background: #282c33;
	--white: #fff;
}
// color: var(--text-default);
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip; // работает с position: sticky;
	// min-width: 320px;
	// max-width: 1920px;
	//block-size: 100%;
}
// ==== Чтоб прибить футер к низу разрешаем main расширяться

.wrapper > main {
	flex-grow: 1;
}

// ===============Ограничивающий контейнер через селктор класса============
[class*="__container"] {
	max-inline-size: 65.875rem;
	margin-inline: auto;
	padding-inline: 0.9375rem;

	// max-width: 1230px;
	// margin: 0 auto;
	// padding: 0 15px;
	// box-sizing: border-box;

	// ======== Стандартная адаптивная сетка ================================
	// @media (max-width: 1199.98px) {
	//   max-width: 970px;
	// }
	// @media (max-width: 991.98px) {
	//   max-width: 750px;
	// }
	// @media (max-width: 767.98px) {
	//   max-width: none;
	// }
}
body {
	font-family: var(--font-family);
	color: var(--gray);
	background-color: var(--background);
}
// ============== social =============

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; // центрируем иконки по вертикали
	gap: 0.5rem;
	position: relative;
	padding-top: 0.5rem;
	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--background);
	}
	&__items {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
	}

	&__item {
		font-size: 2rem;
		transition: color 0.5s;
		&:hover {
			color: var(--white);
		}
	}
}

.cube {
	@media (max-width: 47.9988rem) {
		display: none;
	}
}
// ============== header ==============

.header {
	// =========== Плавающая шапка ==================
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: var(--background);
	transition: all 0.5s;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.25rem;
		min-height: 5rem;
		@include adaptive-value("padding-block", 32, 20, 0);
	}

	&__logo {
		font-weight: 700;
		color: var(--white);

		z-index: 5;
		flex-grow: 1;
		position: relative;
		padding-left: 1.25rem;
		display: flex;
		align-items: center;
		&::before {
			width: 100%;
			height: 100%;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: url("../images/logo-white.svg") left no-repeat;
		}
		transition: color 0.5s;
		&:hover {
			color: var(--primary);
		}
	}
	&__menu {
		&-social {
			display: flex;
			justify-content: center;
			align-items: center;
			@media (min-width: 47.9988rem) {
				display: none;
			}
		}
		&-items {
			display: flex;
			gap: 1.25rem;
		}
	}

	&__actions {
	}
}
.menu {
	&__body {
		display: flex;
		flex-direction: column;
		gap: 1.875rem;
	}

	&__list {
		flex-grow: 1;
		display: flex;
		align-items: center;
		@include adaptive-value("gap", 32, 20, 0);
		@media (max-width: 47.9988rem) {
			flex-direction: column;
			align-items: end;
		}
	}

	&__item {
		select {
			font-family: var(--font-family);
			font-weight: 600;
			color: var(--gray);
			background-color: var(--background);
			text-transform: uppercase;
			cursor: pointer;
			option {
				background-color: var(--background);
			}
		}
	}

	&__link {
		text-transform: lowercase;
		font-size: 1rem;
		span {
			background-color: var(--background);
			&:nth-child(1) {
				color: var(--primary);
			}
		}
		transition: color 0.5s;
		&:hover {
			color: var(--white);
		}
		@media (max-width: 47.9988rem) {
			font-size: 32px;
		}

		position: relative;
		transition: color 0.5s;
		&::after {
			position: absolute;
			content: "";
			width: 0;
			bottom: 0;
			left: 50%;
			height: 0.0313rem;
			background-color: var(--primary);
			transition: all 0.5s;
		}
		&:hover {
			color: var(--white);
			&::after {
				left: 0;
				width: 100%;
			}
		}
		&--active {
			color: var(--white);
			&::after {
				left: 0;
				width: 100%;
			}
		}
	}

	&__icon {
	}
}

// ============= main-section =============

.main-section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	@include adaptive-value("gap", 122, 40, 0);

	&__social {
		padding-left: 1.0625rem;
		position: relative;
		z-index: 2;
		@media (max-width: 47.9988rem) {
			display: none;
		}
	}

	&__line {
		position: absolute;
		top: 0;
		left: 2.0625rem; // или calc(1.0625rem + 1rem)
		width: 0.0625rem;
		height: 50%;
		background-color: var(--gray);
		pointer-events: none;
		z-index: 1;
		@media (max-width: 47.9988rem) {
			display: none;
		}
	}
	&__container {
		@include adaptive-value("padding-top", 123, 80, 0);
		@include adaptive-value("padding-bottom", 112, 40, 0);

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		min-height: 100%;
		align-items: center;
		column-gap: 1.25rem;
		@media (max-width: 47.9988rem) {
			grid-template-columns: auto;
			row-gap: 1.875rem;
		}
	}

	&__content {
	}

	&__title {
		font-weight: 600;
		@include adaptive-value("font-size", 32, 20, 0);
		line-height: 1.5;
		color: var(--white);
		span {
			color: var(--primary);
		}
		&:not(:last-child) {
			@include adaptive-value("margin-bottom", 32, 20, 0);
		}
	}

	&__text {
		line-height: 1.5625;
		@media (min-width: 47.9988rem) {
			max-width: 31.25rem;
		}
		&:not(:last-child) {
			@include adaptive-value("margin-bottom", 24, 20, 0);
		}
	}

	&__button {
	}

	&__decor {
	}
}

.decor-main-section {
	&__box {
		position: relative;
		// Убираем общие width/height – зададим каждому индивидуально
		&::before,
		&::after {
			content: "";
			position: absolute;
			// По умолчанию transform-origin: center, вращение вокруг центра элемента
		}
		&::before {
			// Размер равен размеру изображения (33.91% от родителя)
			width: 33.91%;
			height: 33.91%; // предполагаем, что логотип квадратный
			top: 21.76%;
			left: 0;
			background: url("../images/main/logo-primary.svg") center / 100% 100% no-repeat;
			animation: rotate 70s infinite linear; // по часовой
		}
		&::after {
			// Размер равен размеру изображения (18.38% от родителя)
			width: 18.38%;
			height: 18.38%; // предполагаем, что точки квадратные
			// Пересчитали позицию: исходные left: -8% → right: 8%, top: -21.5% → bottom: 21.5%
			right: 8%;
			bottom: 21.5%;
			z-index: 2;
			background: url("../images/main/dots.svg") center / 100% 100% no-repeat;
			animation: anti-rotate 70s infinite linear; // против часовой
		}
	}

	&__image {
		display: grid;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 2;
	}

	&__picture {
		max-width: 100%;
	}

	&__subtitle {
		border: 1px solid var(--gray);
		padding: 0.5rem;
		display: flex;
		align-items: center;
		font-weight: 500;
		gap: 0.625rem;
		&::before {
			color: var(--primary);
		}
		span {
			color: var(--white);
			font-weight: 600;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes anti-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

// ============ who =============

.who {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@include adaptive-value("padding-bottom", 86, 40, 0);
	@include adaptive-value("gap", 246, 40, 0);
	@media (max-width: 47.9988rem) {
		justify-content: center;
		padding-inline: 0.9375rem;
	}

	&__content {
		text-align: end;
		@include adaptive-value("font-size", 24, 18, 0);
		color: var(--white);
		position: relative;

		&::before,
		&::after {
			content: "\e90d";
			font-family: "icomoon";
			position: absolute;

			@include adaptive-value("font-size", 21, 14, 0);
			color: var(--gray);

			@include adaptive-value("padding-inline", 8, 2, 0);
			@include adaptive-value("padding-block", 4, 2, 0);
			background-color: var(--background);
		}
		&::before {
			top: -11%;
			left: 3.5%;
		}
		&::after {
			bottom: 31%;
			right: 4.5%;
		}
	}

	&__text {
		font-weight: 500;
		line-height: 1.2;
		border: 1px solid var(--gray);
		@include adaptive-value("padding", 32, 10, 0);
	}

	&__author {
		display: inline-block;
		border: 1px solid var(--gray);
		@include adaptive-value("padding", 16, 10, 0);
	}

	&__cube {
	}
}
// =========== projects =============

.projects {
	display: flex;
	align-items: center;
	gap: 1.875rem;
	@include adaptive-value("padding-bottom", 94, 40, 0);
	&__container {
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.25rem;
		@include adaptive-value("padding-bottom", 48, 20, 0);
	}

	&__title {
		&::after {
			@include adaptive-value("width", 511, 20, 0);
		}
	}

	&__link {
		font-weight: 500;
		color: var(--white);

		position: relative;
		transition: color 0.5s;
		&::after {
			position: absolute;
			content: "";
			width: 0;
			bottom: 0;
			right: 100%;
			height: 0.0313rem;
			background-color: var(--primary);
			transition: all 0.5s;
		}
		&:hover {
			color: var(--white);
			&::after {
				right: 0;
				width: 100%;
			}
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(330px, 100%), 1fr));
		@include adaptive-value("gap", 16, 10, 0);
		// @media (max-width: 61.9988rem) {
		// 	flex-direction: column;
		// 	align-items: stretch;
		// }
		&:not(:last-child) {
			@include adaptive-value("margin-bottom", 90, 30, 0);
		}
	}

	&__item {
		border: 0.0625rem solid var(--gray);
	}
	&__cube {
		margin-right: -4.6875rem;
	}
}

.item-projects {
	&__image {
		display: block;
		aspect-ratio: 330/201;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale 0.5s;
			&:hover {
				scale: 1.05;
			}
		}
	}

	&__category {
		padding: 0.5rem;
		border-block: 0.0625rem solid var(--gray);
	}

	&__body {
	}
	&__button {
		display: inline-block;
	}
}

.body-item-projects {
	padding: 1rem;
	&__title {
		font-weight: 500;
		font-size: 1.5rem;
		color: var(--white);
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		transition: color 0.5s;
		&:hover {
			color: var(--primary);
		}
	}

	&__link-title {
	}
}

// =========== skills =============

.skills {
	@include adaptive-value("padding-bottom", 112, 40, 0);
	&__container {
	}
	&__header {
		margin-bottom: 0.75rem;
	}
	&__title {
		&::after {
			@include adaptive-value("width", 239, 20, 0);
		}
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptive-value("gap", 59, 20, 0);
	}

	&__figures {
	}

	&__content {
	}
}

.figure-skills {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@include adaptive-value("gap", 42, 20, 0);
	@media (max-width: 767.98px) {
		display: none;
	}
	&__item {
	}

	&__item-body {
	}
}
.item {
	&__figure-1 {
		padding-left: 2rem;
		padding-top: 2.1875rem;
		padding-right: 4.0625rem;
	}

	&__figure-2 {
		padding-left: 3.125rem;
		padding-bottom: 1.1875rem;
		padding-right: 2.25rem;
	}

	&__figure-3 {
		padding-left: 2.9375rem;
		padding-top: 1.625rem;
	}

	&__figure-4 {
	}

	&__figure-5 {
		padding-left: 3.5625rem;
		padding-bottom: 2.3125rem;
		padding-top: 3.125rem;
	}
}

@mixin three-col-layout {
	.item-skill__item {
		&:nth-child(1) {
			@media (min-width: 50.0613rem) {
				align-self: start;
				grid-row: 1 / 3;
				grid-column: 1 / 2;
			}
		}
		&:nth-child(2) {
			@media (min-width: 50.0613rem) {
				grid-row: 1 / 2;
				grid-column: 2 / 3;
			}
		}
		&:nth-child(3) {
			@media (min-width: 50.0613rem) {
				grid-row: 2 / 3;
				grid-column: 2 / 3;
			}
		}
		&:nth-child(4) {
			@media (min-width: 50.0613rem) {
				grid-row: 1 / 2;
				grid-column: 3 / 4;
			}
		}
		&:nth-child(5) {
			@media (min-width: 50.0613rem) {
				grid-row: 2 / 3;
				grid-column: 3 / 4;
			}
		}
	}
}

.content-skills {
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
		@include adaptive-value("gap", 16, 10, 0);

		@include three-col-layout; // базовое состояние

		@media (max-width: 991.98px) {
			grid-template-columns: repeat(2, 1fr);
			.item-skill__item {
				grid-row: auto;
				grid-column: auto;
				align-self: auto;
			}
		}

		@media (max-width: 768.98px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			// grid-template-columns: repeat(3, 1fr);
			// @include three-col-layout; // снова подключаем

		}

		// @media (max-width: 479.98px) {
		// 	grid-template-columns: repeat(2, 1fr);
		// 	.item-skill__item {
		// 		grid-row: auto;
		// 		grid-column: auto;
		// 		align-self: auto;
		// 	}
		// }
	}
}

// Остальные стили без изменений
.item-skill {
	&__item {
		border: 0.0625rem solid var(--gray);
		padding-block: 0.5rem;
	}
	&__item-title {
		border-bottom: 0.0625rem solid var(--gray);
		padding-inline: 0.5rem;
		padding-bottom: 0.5rem;
		font-weight: 600;
		color: var(--white);
	}
	&__item-text {
		padding-inline: 0.5rem;
		padding-top: 0.5rem;
		p:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
}
